* {
    margin: 0;
    padding: 0;
}

.container {}

.title {
    text-align: center;
    padding: 40px 0;
}

.option-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.option-bar a {
    border: #cccccc dotted 1px;
    border-bottom: firebrick solid 2px;
    text-decoration: none;
    padding: 5px 50px;
    margin: 0 5px;
    color: #000000;
    font-size: 18px;
}

.wrap {
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrap .item {
    /* position: absolute; */
}

/* 主標框 */
.wrap .item2 .text1 {
    position: absolute;
    width: 300px;
    color: #ffffff;
}

.wrap .item .text1 p {
    background-color: #000000;
    padding: 10px;
    line-height: 30px;
}

.wrap .item .text1 .text-column {
    background-color: brown;
    /* display: flex;
    flex-direction: column; */
}

.text-column h1 {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    padding: 5px;
}

.text-column h2 {
    padding: 5px;
}


.wrap .item1 .pic {
    position: relative;
}

/* 灰色敘述框 */
.wrap .item2 .text2 {
    position: absolute;
    background-color: #e9e9e9;
    width: 500px;
    padding: 10px;
    line-height: 30px;
}

/* 位置配置 */

.wrap .item2 .left {
    left: 350px;
    /* z-index: 1; */
}

.wrap .item2 .right {
    right: 350px;
}

.wrap .item2 .text2 .left {
    left: 350px;
}

.wrap .item2 .text2 .right {
    right: 350px;
}

.wrap .item2 .text1 {
    /* left: 350px; */
    /* z-index: 1; */
}

.wrap .item2 .text1 {
    /* left: 0px; */
}

.wrap .item2 .text1 {}

.wrap .item2 .text1 {}

.wrap .item2 .text1 {}

.wrap .item2 .text2 {
    left: 250px;
    /* bottom: 10px; */
}

.wrap .item2 .text2 {}

.wrap .item2 .text2 {}

.wrap .item2 .text2 {}

.wrap .item2 .text2 {}