* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.container .wrap {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.option-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px auto;
    margin-top: 20px;
    position: relative;
}

.option-bar a {
    border: 1px dashed #cccccc;
    border-bottom: 3px solid brown;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
}

.container .wrap{
    display: flex;
    justify-content: center;
}

.wrap .item {
    /* position: relative; */
}

.item .text .text-column h1 {
    /* display: flex; */
    flex-direction: column;
}

/* 標題內文 */
.item .text1 {
    /* position: absolute;  */
    position: relative;
    color: #ffffff;
    width: 300px;
    /* right: -200px; */
}

.item .text1 .text-column h1 {
    background-color: brown;
    font-size: 50px;
    padding: 20px;
}

.item .text1 p {
    background-color: black;
    font-size: 20px;
    padding: 20px;
}
.item .text2 p {
    padding: 10px 15px;
}

.item .text2{
    width: 500px;
    background-color: #d4d3d3;
    position: absolute;
    bottom: 200px;
    /* top: 400px;
    right: -100px; */
}