.show-dropdown {
    position: absolute;
    transform: translate3d(0px, 34px, 0px);
    top: 10px !important;
    left: 0px;
    will-change: transform;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #26bec9 !important;
    text-decoration: none;
    outline: 0
}

.dropdown-menu-col {
    padding: 10px
}

.dropdown-menu-col[data-col="3"] {
    column-count: 3
}

.dropdown-menu-col[data-col="2"] {
    column-count: 2
}

.dropdown-menu-col>li {
    break-inside: avoid-column
}

.dropdown-menu-col>li>a {
    border-radius: 4px
}

.dropdown-menu li>a {
    padding: 8px 16px !important;
    margin: 0 !important;
    line-height: 1.5 !important;
}


.dropdown-menu-white li>a {
    color: #000;
    cursor: pointer
}

.page-tab .dropdown-menu {
    min-width: 250px;
    border-radius: 6px
}

.dropdown {
    padding-bottom: 10px;
}

.dropdown a {
    cursor: pointer !important;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

.dropdown a:hover {
    color: #00aebb;
}

.seach-dropdown {
    font-size: 18px;
    font-weight: 600;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu li>a:active,
.dropdown-menu li>a:focus,
.dropdown-menu li>a:hover {
    background-color: rgba(0, 0, 0, .04);
    text-decoration: none;
    color: #26bec9;
}

.dropdown-menu li.active>a {
    background: transparent;
    color: #26bec9;
    font-weight: 700;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    opacity: 1;
    visibility: initial;
    transition: .25s;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
    min-width: 250px;
    overflow-y: auto;
    overscroll-behavior-y: contain
}


@font-face {
    font-family: FontAwesome;
    font-display: swap;
    src: url(/shop_demo/Assets/CSS/fontawesome-webfont.eot), url(/shop_demo/Assets/CSS/fontawesome-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-size {
    font-size: 20px;
    line-height: .75em;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none
}


.editor-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: #eaeaea;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
}

.editor-logo.king {
    border: 2px solid #ffb400;
    position: relative
}

.editor-logo.king>img {
    width: 28px;
    position: absolute;
    top: -14px;
    left: -7px
}

.editor-logo .fa-camera {
    font-size: 1.8rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer
}

.editor-logo .overlap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.buddy-group .panel .panel-heading .editor-logo {
    color: #fff;
    line-height: 25px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    min-width: 35px;
    margin-right: 10px
}

/* ================ */




/* ================= */
header.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1005
}


.header-logo {
    white-space: nowrap
}

.header-logo img {
    display: inline-block;
    height: 40px
}

.header-logo .whlb-logo {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ddd
}

.header-logo .whlb-logo img {
    height: auto;
    max-width: 120px;
    max-height: 40px;
    margin-top: -5px
}

.header-search {
    margin-left: 20px;
    width: 360px;
    max-width: 100%;
    position: relative
}

.header-search .search-dropdown {
    width: 700px
}

.header-search .form-control {
    font-size: 1.4rem;
    background-color: #f4f4f4;
    border: none
}

.header-search .input-group-btn .btn {
    padding-left: 15px;
    padding-right: 15px;
    background: #f4f4f4
}

.header-search .input-group-btn .btn:focus,
.header-search .input-group-btn .btn:hover {
    box-shadow: none
}

.header-search .input-group-btn .btn:focus i,
.header-search .input-group-btn .btn:hover i {
    color: #333
}

.header-search .input-group-btn .btn i {
    color: #666;
    vertical-align: middle
}

.header-search .kksearch-header {
    display: none
}

.list-item .list-item-title {
    flex: 1 0 auto
}

.editor-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: #eaeaea;
    background-size: cover;
    background-position: 50%;
    background-image: url(/shop_demo/Assets/image/person.jpg);
}

.header-nav .dropdown-arrow,
.header-nav .dropdown-menu {
    top: 58px;
}

.open>.dropdown-menu {
    display: block
}

.dropdown-menu-right {
    left: 200px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.list-item-group {
    /* top: 70px; */
}

.list-item-group>.list-item>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu .checkbox,
.dropdown-menu .radio,
.dropdown-menu li>a,
.select2-results__option {
    padding: 8px 16px;
    margin: 0;
    line-height: 1.5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.list-item .list-item-icon.editor-logo {
    min-width: 50px;
    height: 50px;
    margin-left: -5px;
    margin-right: 10px;
}