* {
    font-family: 微軟正黑體;
}

.btns {
    display: flex;
    justify-content: center;
    /* padding: 10px 15px; */
}

.btns button {
    margin: 10px 20px;
}

.btns button a {
    text-decoration: none;
    color: #ffffff;
}

.pic {
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 2px;
    /* height: 200px; */
    border: 1px solid #cccccc;
    text-align: center;
    padding: 50px 50px;
    margin-bottom: 20px;
    /* position: relative; */
}

.box .color-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box .color {
    /* background-color: #dfc3b5; 金 */
    /* background-color: #dfe1e0; 銀 */
    /* background-color: #a8abad; 太空灰 */
}

.box .color-red {
    background-color: #b70c2e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box .color-yellow {
    background-color: #fae27f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box .color-black {
    background-color: #1f2120;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box .color-green {
    background-color: #ade0cd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box .color-purple {
    background-color: #d1cddb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box .size-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    width: 150px;
    background-color: rgba(255, 255, 255, 0);
    border: #ffffff 1px solid;
}

.display {
    display: none;
}