.home-banner {
    position: relative;
    overflow-anchor: none;
}

.banner-img {
    /* position: relative; */
    padding-top: 133.33333333333331%;
}

@media (min-width: 744px) {
    .banner-img {
        /* padding-top: max(550px, min(85vh, 56.25%)); */
    }
}

@media (min-width: 950px) {
    .banner-img {
        padding-top: max(570px, min(85vh, 56.25%));
    }
}

.bannerimg-position {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.displayimg {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    vertical-align: bottom
}


@supports (object-fit: cover) {
    .displayimg {
        height: 100% !important;
        width: 100% !important;
        position: absolute;
        object-fit: cover;
        vertical-align: bottom
    }
}

.banner-text {
    display: flex;
    /* align-items: center; */
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.text-Xcenter {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 744px) {
    .text-Xcenter {
        /* margin: 0 auto; */
        /* padding-top: 48px; */
        /* padding-bottom: 48px; */
    }
}

@media (min-width: 1128px) {
    .text-Xcenter {
        /* margin: 0 auto; */
        /* padding-right: 20px; */
        /* padding-left: 20px; */
    }
}


.banner-textstyle {
    text-align: center;
    font-size: 40px;
    line-height: 30px;
}

@media (min-width: 744px) {
    .banner-textstyle {
        font-size: 32px;
    }
}

@media (min-width: 1128px) {
    .banner-textstyle {
        font-size: 35px;
    }
}

.text-block{
    background-color: rgba(138, 138, 138, 0.603);
    padding:20px 50px;
}

.title-font {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 800;
    font-size: 26px;
    padding: 10px;
}

.p-font {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

@media (min-width: 744px) {
    .p-font {
        font-size: 14px;
        line-height: 18px;
    }
}

