.label-smile {
    color: #FF8800;
}

.t-09 {
    font-size: 0.9rem;
}


h3.title-group-item {
    font-size: 1.3rem;
    background-color: #f2f2f2;
    margin-bottom: 0;
}

.product-item {
    border: 1px solid #dee2e6;
    border-radius: 3px;
    margin: 8px 0;
    position: relative;
}

.product-item a {
    display: block;
    text-decoration: none;
}

.addcart {
    background-color: #17a2b8;
    color: #FFFFFF;
    border: none;
    line-height: 2.8rem;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-size: 1rem;
}

.product-item a:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
    -moz-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
    box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
}

.product-item a .product-img:hover {
    opacity: 0.85;
}

.product-img img {
    width: 100%;
    position: relative;
}

.product-img img {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    border-bottom: 1px solid #dee2e6;
}

.img-sm {
    width: 100%;
    height: 140px;
}

.img-md {
    width: 100%;
    height: 190px;
}


.product-detail {
    padding: 0.5rem;
    position: relative;
}

.product-detail h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    /* width: 100%; */
    /* overflow: hidden; */
}

.product-detail h4 {
    font-size: 0.95rem;
    color: #666666 !important;
    /* width: 100%; */
    /* height: 20px; */
    margin-bottom: 0.3rem;
}

.original,
.priceBox .price .original {
    white-space: nowrap;
    color: #AAAAAA;
    padding-top: 0.4rem;
    font-size: 0.9rem;
}

/* 折扣價 */
.priceBox .price .current {
    color: #FF3100;
    max-width: 100%;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    font-weight: 500;
    margin-top: -0.2rem;
}

.Remaining {
    color: #FF8800;
    text-align: right;
    padding: 5px 0;
}

.line-through {
    text-decoration: line-through;
}

/* 折扣圖標 */
.discount-label {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2240px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2040%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Ediscount_label%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/%u6298%u6578%22%20fill%3D%22%23FF5E5E%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22discount_label%22%20points%3D%2220%2024.1717194%200%2030%200%200%2040%200%2040%2030%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -0.15rem;
    right: 16px;
    color: #FFFFFF;
    padding: 0.2rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
    z-index: 2;
}

/* ----------------------------------- */

.carousel2 .owl-nav button.owl-prev {
    height: 45px;
    width: 45px;
    left: -20px;
}

.carousel2 .owl-nav button.owl-next {
    height: 45px;
    width: 45px;
    right: -20px;
}

.carousel2 .owl-nav button {
    border-radius: 50px;
    background: #15cbe7 !important;
}

.carousel2 .owl-nav span {
    font-size: 40px;
    padding: 0 3px;
    position: relative;
    top: -10px;
    color: #ffffff
}


.carousel2 .arrow-prev .prev-icon,
.carousel2 .arrow-next .next-icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: black;
}

.carousel2 .arrow-prev .prev-icon,
.carousel2 button.owl-prev {
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2246px%22%20height%3D%2246px%22%20viewBox%3D%220%200%2046%2046%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Earrow-prev%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2240%22%20rx%3D%2220%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-12.5%25%22%20y%3D%22-10.0%25%22%20width%3D%22125.0%25%22%20height%3D%22125.0%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C/feOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C/feGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%200%200%200%201%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%3E%3C/feColorMatrix%3E%0A%20%20%20%20%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Index%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-517.000000%2C%20-801.000000%29%22%20id%3D%229%u9EDE%u958B%u69CD%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28135.000000%2C%20563.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-prev%22%20transform%3D%22translate%28385.000000%2C%20240.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-9%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url%28%23filter-2%29%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Overrides/Navigation-Bar/Left/Back-Button%22%20transform%3D%22translate%289.000000%2C%209.000000%29%22%20fill%3D%22%23FF8800%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/Pin-Left%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Pin-Left%22%20transform%3D%22translate%285.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Back-Chevron%22%20points%3D%220.5%2011%2011%200.5%2013%202.5%204.5%2011%2013%2019.5%2011%2021.5%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') !important; */
    transform: translateY(-40%);
}

.carousel2 .arrow-next .next-icon,
.carousel2 button.owl-next {
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2246px%22%20height%3D%2246px%22%20viewBox%3D%220%200%2046%2046%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Earrow-next%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2240%22%20rx%3D%2220%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-12.5%25%22%20y%3D%22-10.0%25%22%20width%3D%22125.0%25%22%20height%3D%22125.0%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C/feOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C/feGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%200%200%200%201%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%3E%3C/feColorMatrix%3E%0A%20%20%20%20%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Index%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-1252.000000%2C%20-801.000000%29%22%20id%3D%229%u9EDE%u958B%u69CD%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28135.000000%2C%20563.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-next%22%20transform%3D%22translate%281120.000000%2C%20240.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-9-Copy-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url%28%23filter-2%29%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/Pin-Right%22%20transform%3D%22translate%289.000000%2C%209.000000%29%22%20fill%3D%22%23FF8800%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Pin-Left%22%20transform%3D%22translate%2811.500000%2C%2011.000000%29%20rotate%28-180.000000%29%20translate%28-11.500000%2C%20-11.000000%29%20translate%285.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Back-Chevron%22%20points%3D%220.5%2011%2011%200.5%2013%202.5%204.5%2011%2013%2019.5%2011%2021.5%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') !important; */
    transform: translateY(-40%);
}

/* ----------------------------------- */
.lazyload-img {
    background: linear-gradient(to bottom, transparent, transparent 10%, rgba(0, 0, 0, 0.6) 100%);
}

.product-img .map-subject,
.carousel .map-subject {
    position: absolute;
    /* top: 160px; */
    margin-top: -30px;
    border-radius: 0;
    z-index: 100;
    padding-left: 0.5rem;
    display: flex;
}


.i-map {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2214px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2014%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eicon/mapview-white%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22icon/mapview-white%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%20transform%3D%22translate%282.000000%2C%201.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.78194444%2C12.4931284%20C4.78194444%2C12.4931284%200.0243055556%2C8.69969092%200.0243055556%2C4.87650097%20C0.0243055556%2C2.24733639%202.15441943%2C0.11610882%204.78194444%2C0.11610882%20C7.40946946%2C0.11610882%209.53958333%2C2.24733639%209.53958333%2C4.87650097%20C9.53958333%2C8.69969092%204.78194444%2C12.4931284%204.78194444%2C12.4931284%20Z%20M6.685%2C4.87650097%20C6.685%2C3.82481134%205.83290687%2C2.97234411%204.78194444%2C2.97234411%20C3.73098201%2C2.97234411%202.87888889%2C3.82481134%202.87888889%2C4.87650097%20C2.87888889%2C5.92819061%203.73098201%2C6.78065783%204.78194444%2C6.78065783%20C5.83290687%2C6.78065783%206.685%2C5.92819061%206.685%2C4.87650097%20Z%22%20id%3D%22Combined-Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
    background-position: 2px 3px;
}

.label-icon {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-left: 21px;
    margin-right: 0rem;
}

.local-tag {
    font-size: 0.95rem;
    color: #ffffff;
    font-weight: 600;
}

.status-tag {
    font-size: 0.95rem;
    text-align: center;
    display: inline-block;
    color: #F8E71C;
    margin-left: 2px;
    font-weight: 600;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tagblock {
    margin: 10px 0;
}

.tagBox .tag {
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0 0.1rem 0;
    padding: 0 5.5px;
    /* height: 21px; */
}

.tag-purple {
    color: #4951DE;
    border: 1px solid #4951DE;
}

.tag-green {
    border: 1px solid #35821e;
    color: #35821e;
}

.tag-red {
    border: 1px solid #AA523A;
    color: #AA523A;
}

.tag-orange {
    border: 1px solid #ff961f;
    color: #ff961f;
}

.tag-blue {
    border: 1px solid #446CB3;
    color: #446CB3;
}

.product-detail .pricewrap {
    /* margin-top: -0.5rem; */
    height: 3rem;
}

.pricewrap .priceBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sales-volume {
    color: #FF8800;
    font-size: 0.9rem;
    font-weight: 600;
}


.wish-btn {
    background-color: #cf3737;
    width: 40px;
    height: 40px;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    /* top: 160px; */
    margin-top: -20px;
    right: 20px;
    justify-items: center;
}

.wish-btn i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

/* ----------------------------------- */