.owl-carousel .owl-item img.owl-lazy {
    transform-style: unset;
}

.owl-nav button.owl-prev {
    left: 10px;
}

.owl-nav button.owl-next {
    right: 10px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
    outline: none;
}

.owl-nav span {
    font-size: 40px;
    padding: 0 3px;
    position: relative;
    top: -5px;
    color: white;
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.owl-dots button.owl-dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}