
/*main_nav*/
.logo_sm {
    display: none;
    width: 100%;
    padding-left: 15px;
}

.logo_sm>a {
    align-self: center;
}

.logo_sm>a img {
    height: 35px;
}

.logo {
    height: 42px;
    max-height: 100%;
}

#main_nav.navbar {
    background-color: #fff;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow:inset 0px 15px 15px -15px #cccccc,
    inset 0px -15px 15px -15px #cccccc; 
    padding-top: 0;
    padding-bottom: 0;
}

#main_nav .navbar-nav {
    flex-wrap: nowrap;
}

#main_nav .nav-item {
    padding: 0 1rem;
}

#main_nav .nav-link {
    color: #17a2b8;
    font-weight: 600;
    font-size: 18px;
    height: 80px;
    padding: 0.5rem 10px;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-family: 'Helvetica Light', 'Noto Sans TC', '微軟正黑體', sans-serif;
}

/* 導航 */
#main_nav .navbar-nav:not(.navbar-logo) .nav-link:after {
    content: '';
    display: block;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: #17a2b8;
    position: absolute;
    top: calc(50% + 1rem);
    left: 1rem;
    margin: 0;
    border: none;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/* 導航欄下拉寬度 */
#main_nav .navbar-nav .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    min-width: 200px;
    padding: 1rem 0;
}

#main_nav.navbar-light .navbar-nav .active>.nav-link,
#main_nav.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
}

#main_nav .navbar-nav:not(.navbar-logo) .active>.nav-link:after,
#main_nav .navbar-nav:not(.navbar-logo) .nav-link.active:after,
#main_nav .navbar-nav:not(.navbar-logo) .show>.nav-link:after,
#main_nav .navbar-nav:not(.navbar-logo) .nav-link:hover:after {
    opacity: 1;
}



#main_nav .navbar-nav .dropdown-item {
    color: #6e6461;
    padding: 0.5rem 2rem;
}

#main_nav .navbar-nav .dropdown-item:hover,
#main_nav .navbar-nav .dropdown-item.active {
    color: #473f3b;
    background-color: transparent;
}

.sticky_top #main_nav.navbar {
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    border: none;
}

.sticky_top #main_nav .nav-link {
    height: 60px;
}

.sticky-top-fix {
    width: 100%;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.sticky_top .sticky-top-fix {
    margin-top: 41px;
}

#main_nav .navbar-toggler {
    position: relative;
    padding: 15px 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#main_nav .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

#main_nav .burger-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#main_nav .burger-wrap span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #17a2b8;
    -webkit-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#main_nav .navbar-toggler .burger-top {
    top: 0;
    right: 0;
}

#main_nav .navbar-toggler .burger-middle {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#main_nav .navbar-toggler .burger-bottom {
    bottom: 0;
    right: 0;
}

#main_nav .navbar-toggler[aria-expanded="true"] .burger-top {
    top: 9px;
    right: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#main_nav .navbar-toggler[aria-expanded="true"] .burger-middle {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
}

#main_nav .navbar-toggler[aria-expanded="true"] .burger-bottom {
    bottom: 9px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 寬度小於767 */
@media only screen and (max-width: 767px) {
    .top_bar {
        padding-left: 5px;
        padding-right: 5px;
    }

    .top_right li a,
    .phone,
    .social_top a {
        padding-left: 7px;
        padding-right: 7px;
    }

    header.sticky-top {
        height: 71px;
    }

    #main_nav.navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 100vh;
        overflow: auto;
    }

    #main_nav .nav-item {
        padding: 0;
    }

    #main_nav .nav-link,
    .sticky_top #main_nav .nav-link {
        height: 50px;
    }

    #main_nav .navbar-nav .dropdown-menu {
        border: none;
    }

    .logo_sm {
        display: flex;
    }
}


/* 寬度大於768 */
@media (min-width:768px) {
    #main_nav .navbar-nav .dropdown-menu {
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    .checkout_step ul li.active:not(:first-child) {
        border-left-color: #fff;
    }
}

@media (max-width:992px) {

}

@media (min-width:992px) {
    
}

@media only screen and (max-width: 320px) {
    .top_bar {
        padding-left: 5px;
        padding-right: 5px;
    }

    .index_slider_text h2 {
        font-size: 2rem;
    }

    .index_slider_text p {
        font-size: 0.675rem;
        -webkit-transform-origin-x: 0;
        -webkit-transform: scale(0.90);
    }
}
/* ==================== */
