* {
    font-family: 微軟正黑體;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 下拉搜尋 */
.seach-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.767);
}

.seach-title {
    font-size: 18px;
    font-weight: 600;
}

ul,
li {
    list-style-type: none;
}

/* -------------- */

.class-lable h3 {
    background-color: #e9db90;
    display: inline;
    padding: 10px 20px;
}

.class-lable hr {
    margin-top: 1px;
    height: 1.2px;
    background-color: #e9db90;
}

.top-bar {
    background-color: #4b4b4b;
    color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.top-bar .text-left {
    display: flex;
    justify-items: center;
}

.top-bar .text-left i {
    position: relative;
    top: 5px;
}

.top-bar .text-left a {
    margin-left: 10px;
    display: inline;
    text-decoration: none;
    color: #ffffff;
}

.top-bar a::after {
    content: '｜';
    color: #ffffff;
}

.top-bar .text-right {
    display: flex;
    justify-items: center;
}

.top-bar .text-right i {
    position: relative;
    top: 5px;
}

.top-bar .text-right a {
    margin-left: 10px;
    display: inline;
    text-decoration: none;
    color: #ffffff;
}

.top-bar .text-right a::after {
    content: '｜';
    color: #ffffff;
}

.top-bar .btns i {
    font-size: 13px;
    justify-items: center;
}

/* -------------- */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    padding: 5px 6px;
    box-shadow: #c0c0c0 2.5px 2px 3px;
}

.card-tab {
    position: absolute;
    top: 25px;
    left: -2px;
    background-color: #a52b2b;
    color: #ffffff;
    padding: 3px 5px;
    z-index: 2;
}

.card-tab h5 {
    text-align: center;
    font-weight: 600;
}

.card-text {
    padding: 6px 8px;
    text-overflow: ellipsis;
}

.card-text h5 {
    margin-top: 5px;
    color: #0084b8;
    font-weight: 600;
}

.card-tab .timer {
    padding: 4px;
    margin: 0px 8px 5px 8px;
    background-color: #252525;
    border-radius: 2px;
}

.card-tab .timer- {
    display: flex;
    justify-items: center;
    margin-top: 5px;
}

.countdown-timer {
    display: flex;
    justify-content: start;
}

/* -------------- */
.block-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.block-icon h5 {
    text-align: center;
    font-weight: 600;
    color: #525252;
    padding-top: 5px;
}

.class-icon:hover h5 {
    color: #303030;
    transition: 0.4s;
}

.card-shop {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #d6eaf0;
    border-radius: 50px;
    margin: 10px 10px;
    outline: none;
    border: 1px solid #74c0d3;
    box-shadow: inset 0px 15px 15px -15px #7cb8c7,
        inset 0px -15px 15px -15px #7cb8c7, 12px 0 10px -12px #7cb8c7,
        -12px 0 10px -12px #7cb8c7;
}

.card-shop:hover {
    box-shadow: inset 0px 15px 15px -15px #59a1b3,
        inset 0px -15px 15px -15px #59a1b3, 12px 0 10px -12px #59a1b3,
        -12px 0 10px -12px #59a1b3;
}

.card-shop img {
    width: 50px;
    height: 50px;
}

.browse-card {
    height: 200px;
    background-color: #ffffff;
    box-shadow: #cccccc 1px 2px 3px;
    border-radius: 5px;
    margin: 10px 10px;
}


.about-maintitle {
    display: flex;
    justify-content: center;
    position: relative;
}

.about-maintitle h3 {
    color: #17a2b8;
    font-weight: 600 !important;
}

.about-maintitle::after {
    content: '';
    background-color: #17a2b8;
    width: 50px;
    height: 2.5px;
    color: #17a2b8;
    display: inline-block;
    position: absolute;
    bottom: -6px;
}

.about-maintext {
    color: #303030;
    line-height: 40px;
    padding: 20px 90px;
    text-align: center;
}

.about-icon {
    display: flex;
    float: left;
    /* margin-left: 20px; */
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}

.about-icon img {
    height: 80px;
    padding: 5px 20px;
}

.about-icon .text {
    padding: 10px 0 0 15px;
}

.about-info {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-infotext {
    line-height: 40px;
    padding: 0 10px;
}

.about-infoimg {
    display: flex;
    justify-content: center;
}

.parallax {
    background-image: url(/shop_demo/Assets/image/foodbg.jpg);
    min-height: 400px;
    /* border-top: #17a2b8 5px solid; */
    border-bottom: #17a2b8 5px solid;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------- */
#btnScroll {
    position: fixed;
    right: 10px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: #1bb2c9;
    color: #ffffff;
    border-radius: 50px;
    outline: none;
    border: none;
    z-index: 2;
}

#btnScroll:active {
    background-color: #0a95aa;
}

#btnScroll:hover {
    background-color: #0a95aa;
    transition: ease 0.3s;
}

/* -------------- */
.footbg {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    /* height: 600px; */
    padding: 50px 0px;
}

.f-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin: 15px 0;
}

.f-item .icon {
    width: 100%;
    height: 80px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-item .icon img {
    width: 90px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.f-item .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.f-item .text h5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}


.f-item .text hr {
    color: #ffffff;
    background-color: #ffffff;
    width: 140px;
}

.f-item .text a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: 400;
    line-height: 45px;
}

.f-item .text a:hover {
    color: #cecece;
    transition: ease 0.4s;
}

.f-item .text-mb {
    font-weight: bolder;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.f-item .text-mb a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: 400;
    line-height: 45px;
}

.text-mb .btns {
    margin: 15px 0;
}

.text-mb .btns i {
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.text-mb .btns button {
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 100%;
    border: none;
    margin: 0px 3px;
}

.text-mb .btns button:focus {
    outline: none;
}

.text-mb .btns button:hover {
    background-color: #17a2b8;
    color: #ffffff;
    transition: ease 0.4s;
}

.footbar {
    background-color: #17a2b8;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* ============================ */
.home-banner {
    position: relative;
    overflow-anchor: none;
}

.banner-img {
    /* position: relative; */
    padding-top: 133.33333333333331%;
}

@media (min-width: 589px) {
    .banner-img {
        padding-top: max(550px, min(85vh, 56.25%));
    }
}

@media (min-width: 950px) {
    .banner-img {
        padding-top: max(570px, min(85vh, 56.25%));
    }
}

.bannerimg-position {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.displayimg {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    vertical-align: bottom
}


@supports (object-fit: cover) {
    .displayimg {
        height: 100% !important;
        width: 100% !important;
        position: absolute;
        object-fit: cover;
        vertical-align: bottom
    }
}

.banner-text {
    display: flex;
    /* align-items: center; */
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.text-Xcenter {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner-textstyle {
    text-align: center;
    font-size: 40px;
    line-height: 30px;
}

@media (min-width: 744px) {
    .banner-textstyle {
        font-size: 32px;
    }
}

@media (min-width: 1128px) {
    .banner-textstyle {
        font-size: 35px;
    }
}

.text-block {
    background-color: rgba(138, 138, 138, 0.603);
    padding: 20px 50px;
}

.title-font {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 800;
    font-size: 26px;
    padding: 10px;
}

.p-font {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

@media (min-width: 744px) {
    .p-font {
        font-size: 14px;
        line-height: 18px;
    }
}

.show-dropdown {
    position: absolute;
    transform: translate3d(0px, 34px, 0px);
    top: 10px !important;
    left: 0px;
    will-change: transform;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #26bec9 !important;
    text-decoration: none;
    outline: 0
}

.dropdown-menu-col {
    padding: 10px
}

.dropdown-menu-col[data-col="3"] {
    column-count: 3
}

.dropdown-menu-col[data-col="2"] {
    column-count: 2
}

.dropdown-menu-col>li {
    break-inside: avoid-column
}

.dropdown-menu-col>li>a {
    border-radius: 4px
}

.dropdown-menu li>a {
    padding: 8px 16px !important;
    margin: 0 !important;
    line-height: 1.5 !important;
}


.dropdown-menu-white li>a {
    color: #000;
    cursor: pointer
}

.page-tab .dropdown-menu {
    min-width: 250px;
    border-radius: 6px
}

.dropdown {
    padding-bottom: 10px;
}

.dropdown a {
    cursor: pointer !important;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

.dropdown a:hover {
    color: #00aebb;
}

.seach-dropdown {
    font-size: 18px;
    font-weight: 600;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu li>a:active,
.dropdown-menu li>a:focus,
.dropdown-menu li>a:hover {
    background-color: rgba(0, 0, 0, .04);
    text-decoration: none;
    color: #26bec9;
}

.dropdown-menu li.active>a {
    background: transparent;
    color: #26bec9;
    font-weight: 700;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    opacity: 1;
    visibility: initial;
    transition: .25s;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
    /* 寬度 */
    /* min-width: 250px; */
    overflow-y: auto;
    overscroll-behavior-y: contain
}


@font-face {
    font-family: FontAwesome;
    font-display: swap;
    src: url(/shop_demo/Assets/CSS/fontawesome-webfont.eot), url(/shop_demo/Assets/CSS/fontawesome-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-size {
    font-size: 20px;
    line-height: .75em;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none
}


.editor-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: #eaeaea;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
}

.editor-logo.king {
    border: 2px solid #ffb400;
    position: relative
}

.editor-logo.king>img {
    width: 28px;
    position: absolute;
    top: -14px;
    left: -7px
}

.editor-logo .fa-camera {
    font-size: 1.8rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer
}

.editor-logo .overlap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.buddy-group .panel .panel-heading .editor-logo {
    color: #fff;
    line-height: 25px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    min-width: 35px;
    margin-right: 10px
}

.list-item a {
    display: flex;
    justify-content: space-between;
}


.list-item .list-item-title {
    display: inline-block;
    justify-content: space-between;
}

.editor-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    background-color: #eaeaea;
    background-size: cover;
    background-position: 50%;
    background-image: url(/shop_demo/Assets/image/person.jpg);
}

.label-smile {
    color: #FF8800;
}

.t-09 {
    font-size: 0.9rem;
}


h3.title-group-item {
    font-size: 1.3rem;
    background-color: #f2f2f2;
    margin-bottom: 0;
}

.product-item {
    border: 1px solid #dee2e6;
    border-radius: 3px;
    margin: 8px 0;
    position: relative;
}

.product-item a {
    display: block;
    text-decoration: none;
}

.addcart {
    background-color: #17a2b8;
    color: #FFFFFF;
    border: none;
    line-height: 2.8rem;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-size: 1rem;
}

.product-item a:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
    -moz-box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
    box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.6);
}

.product-item a .product-img:hover {
    opacity: 0.85;
}

.product-img img {
    width: 100%;
    position: relative;
}

.product-img img {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    border-bottom: 1px solid #dee2e6;
}

.img-sm {
    width: 100%;
    height: 140px;
}

.img-md {
    width: 100%;
    height: 200px;
}

.img-md2 {
    width: 100%;
    height: 280px;
}

.img-lg {
    width: 100%;
    height: 350px;
}

.product-detail {
    padding: 0.5rem;
    position: relative;
}

.product-detail h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    /* width: 100%; */
    /* overflow: hidden; */
}

.product-detail h4 {
    font-size: 0.95rem;
    color: #666666 !important;
    /* width: 100%; */
    /* height: 20px; */
    margin-bottom: 0.3rem;
}

.original,
.priceBox .price .original {
    white-space: nowrap;
    color: #AAAAAA;
    padding-top: 0.4rem;
    font-size: 0.9rem;
}

/* 折扣價 */
.priceBox .price .current {
    color: #FF3100;
    max-width: 100%;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    font-weight: 500;
    margin-top: -0.2rem;
}

.Remaining {
    color: #FF8800;
    text-align: right;
    padding: 5px 0;
}

.line-through {
    text-decoration: line-through;
}

/* 折扣圖標 */
.discount-label {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2240px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2040%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Ediscount_label%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/%u6298%u6578%22%20fill%3D%22%23FF5E5E%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22discount_label%22%20points%3D%2220%2024.1717194%200%2030%200%200%2040%200%2040%2030%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -0.15rem;
    right: 16px;
    color: #FFFFFF;
    padding: 0.2rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
    z-index: 2;
}

/* ----------------------------------- */

.carousel2 .owl-nav button.owl-prev {
    height: 45px;
    width: 45px;
    left: -20px;
}

.carousel2 .owl-nav button.owl-next {
    height: 45px;
    width: 45px;
    right: -20px;
}

.carousel2 .owl-nav button {
    border-radius: 50px;
    background: #15cbe7 !important;
}

.carousel2 .owl-nav span {
    font-size: 40px;
    padding: 0 3px;
    position: relative;
    top: -10px;
    color: #ffffff
}


.carousel2 .arrow-prev .prev-icon,
.carousel2 .arrow-next .next-icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: black;
}

.carousel2 .arrow-prev .prev-icon,
.carousel2 button.owl-prev {
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2246px%22%20height%3D%2246px%22%20viewBox%3D%220%200%2046%2046%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Earrow-prev%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2240%22%20rx%3D%2220%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-12.5%25%22%20y%3D%22-10.0%25%22%20width%3D%22125.0%25%22%20height%3D%22125.0%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C/feOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C/feGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%200%200%200%201%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%3E%3C/feColorMatrix%3E%0A%20%20%20%20%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Index%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-517.000000%2C%20-801.000000%29%22%20id%3D%229%u9EDE%u958B%u69CD%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28135.000000%2C%20563.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-prev%22%20transform%3D%22translate%28385.000000%2C%20240.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-9%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url%28%23filter-2%29%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Overrides/Navigation-Bar/Left/Back-Button%22%20transform%3D%22translate%289.000000%2C%209.000000%29%22%20fill%3D%22%23FF8800%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/Pin-Left%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Pin-Left%22%20transform%3D%22translate%285.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Back-Chevron%22%20points%3D%220.5%2011%2011%200.5%2013%202.5%204.5%2011%2013%2019.5%2011%2021.5%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') !important; */
    transform: translateY(-40%);
}

.carousel2 .arrow-next .next-icon,
.carousel2 button.owl-next {
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2246px%22%20height%3D%2246px%22%20viewBox%3D%220%200%2046%2046%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Earrow-next%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22path-1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2240%22%20rx%3D%2220%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-12.5%25%22%20y%3D%22-10.0%25%22%20width%3D%22125.0%25%22%20height%3D%22125.0%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C/feOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C/feGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%20%200%200%200%200%200.666666667%20%200%200%200%201%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%3E%3C/feColorMatrix%3E%0A%20%20%20%20%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Index%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-1252.000000%2C%20-801.000000%29%22%20id%3D%229%u9EDE%u958B%u69CD%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28135.000000%2C%20563.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-next%22%20transform%3D%22translate%281120.000000%2C%20240.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-9-Copy-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url%28%23filter-2%29%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/Pin-Right%22%20transform%3D%22translate%289.000000%2C%209.000000%29%22%20fill%3D%22%23FF8800%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Pin-Left%22%20transform%3D%22translate%2811.500000%2C%2011.000000%29%20rotate%28-180.000000%29%20translate%28-11.500000%2C%20-11.000000%29%20translate%285.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Back-Chevron%22%20points%3D%220.5%2011%2011%200.5%2013%202.5%204.5%2011%2013%2019.5%2011%2021.5%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') !important; */
    transform: translateY(-40%);
}

/* ----------------------------------- */
.lazyload-img {
    background: linear-gradient(to bottom, transparent, transparent 10%, rgba(0, 0, 0, 0.6) 100%);
}

.product-img .map-subject,
.carousel .map-subject {
    position: absolute;
    /* top: 160px; */
    margin-top: -30px;
    border-radius: 0;
    z-index: 100;
    padding-left: 0.5rem;
    display: flex;
}


.i-map {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2214px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2014%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eicon/mapview-white%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22icon/mapview-white%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%20transform%3D%22translate%282.000000%2C%201.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.78194444%2C12.4931284%20C4.78194444%2C12.4931284%200.0243055556%2C8.69969092%200.0243055556%2C4.87650097%20C0.0243055556%2C2.24733639%202.15441943%2C0.11610882%204.78194444%2C0.11610882%20C7.40946946%2C0.11610882%209.53958333%2C2.24733639%209.53958333%2C4.87650097%20C9.53958333%2C8.69969092%204.78194444%2C12.4931284%204.78194444%2C12.4931284%20Z%20M6.685%2C4.87650097%20C6.685%2C3.82481134%205.83290687%2C2.97234411%204.78194444%2C2.97234411%20C3.73098201%2C2.97234411%202.87888889%2C3.82481134%202.87888889%2C4.87650097%20C2.87888889%2C5.92819061%203.73098201%2C6.78065783%204.78194444%2C6.78065783%20C5.83290687%2C6.78065783%206.685%2C5.92819061%206.685%2C4.87650097%20Z%22%20id%3D%22Combined-Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
    background-position: 2px 3px;
}

.label-icon {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-left: 21px;
    margin-right: 0rem;
}

.local-tag {
    font-size: 0.95rem;
    color: #ffffff;
    font-weight: 600;
}

.status-tag {
    font-size: 0.95rem;
    text-align: center;
    display: inline-block;
    color: #F8E71C;
    margin-left: 2px;
    font-weight: 600;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tagblock {
    margin: 10px 0;
}

.tagBox .tag {
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0 0.1rem 0;
    padding: 0 5.5px;
}

.tag-right {
    position: absolute;
    right: 15px;
    margin-top: -30px;
}


.tag-purple {
    color: #4951DE;
    border: 1px solid #4951DE;
}

.tag-green {
    border: 1px solid #35821e;
    color: #35821e;
}

.tag-red {
    border: 1px solid #AA523A;
    color: #AA523A;
}

.tag-orange {
    border: 1px solid #ff961f;
    color: #ff961f;
}

.tag-blue {
    border: 1px solid #446CB3;
    color: #446CB3;
}

.product-detail .pricewrap {
    /* margin-top: -0.5rem; */
    height: 3rem;
}

.pricewrap .priceBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sales-volume {
    color: #FF8800;
    font-size: 0.9rem;
    font-weight: 600;
}


.wish-btn {
    background-color: #cf3737;
    width: 40px;
    height: 40px;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    /* top: 160px; */
    margin-top: -20px;
    right: 20px;
    justify-items: center;
}

.wish-btn i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

/* ----------------------------------- */
/* 評論星星 */
.product-star {
    color: #17a2b8;
    font-size: 1rem;
    white-space: nowrap;
}

.product-star:hover {
    color: #098fa3;
    transition: 0.3s;
}

.product-star span {
    color: #999;
}

.product-star .star {
    display: inline-block;
    /* 星星svg大小 */
    font-size: 1.2rem;
    margin-right: .3em;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: -1px
}

.product-star .star-sm {
    display: inline-block;
    /* 星星svg大小 */
    font-size: 0.9rem;
    margin-right: .3em;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: -1px;

}

.product-star.text-sm .star {
    font-size: 14px
}

.product-star .star-0 {
    color: #ccc;
    background-image: url(/shop_demo/Assets/image/ic_star4_0.svg)
}

.product-star .star-25 {
    fill: url(#star_25);
    background-image: url(/shop_demo/Assets/image/ic_star4_1.svg)
}

.product-star .star-50 {
    fill: url(#star_50);
    background-image: url(/shop_demo/Assets/image/ic_star4_2.svg)
}

.product-star .star-75 {
    fill: url(#star_75);
    background-image: url(/shop_demo/Assets/image/ic_star4_3.svg)
}

.product-star .star-100 {
    color: #26bec9;
    background-image: url(/shop_demo/Assets/image/ic_star4_4.svg)
}

.product-pricing {
    letter-spacing: 0;
    text-align: right;
    position: relative;
    right: 0;
}

.review-score .product-star .star {
    font-size: 2.5rem
}

.review-score .product-star .review-num {
    color: #666;
    font-size: 1.4rem;
    margin: 5px 0 0 4px
}

.info-subtitle .product-star {
    margin-bottom: 30px;
    color: #666;
    line-height: 1
}

.info-subtitle .product-star .star {
    width: 25px;
    height: 25px;
    margin-right: 2.5px
}

.info-subtitle .product-star span {
    font-weight: 400
}

.page-menu li.active .star-icon {
    color: #26bec9
}

.star-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: unset;
}

.owl-nav button.owl-prev {
    left: 10px;
}

.owl-nav button.owl-next {
    right: 10px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
    outline: none;
}

.owl-nav span {
    font-size: 40px;
    padding: 0 3px;
    position: relative;
    top: -5px;
    color: white;
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.owl-dots button.owl-dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}