<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue員工資料表</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
    <script>
        var json = {
            items: [{
                    ID: 3,
                    title: "總裁",
                    name: "Eric",
                    PictureURL: "https://picsum.photos/250/180/?random=1",
                    Phone: "0912345678",
                    Address: "新竹市大同區二三五路四號六樓",
                    Memo: "澳洲來的人",
                    isValid: true
                },
                {
                    ID: 4,
                    title: "瑪農",
                    name: "David",
                    PictureURL: "https://picsum.photos/250/180/?random=2",
                    Phone: "0987654321",
                    Address: "台北市信義區忠孝東路231號3樓",
                    Memo: "充滿活力的廉價勞工",
                    isValid: true
                },
                {
                    ID: 5,
                    title: "Boss",
                    name: "Amy",
                    PictureURL: "https://picsum.photos/250/180/?random=3",
                    Phone: "0912121121",
                    Address: "高雄市仁義區六六路3號23樓",
                    Memo: "小資女",
                    isValid: true
                }
            ]
        };

        $(document).ready(function () {
            Binding();
            btn();
        });

        function Binding() {
            vm = new Vue({
                el: '#block1',
                data: {
                    item: json.items[0]
                }
            });
        }

        //抓當前綁定
        function getCurrentBindingData() {
            return vm.$data.item;
        }
        //更新資料當前綁定
        function showData(DataItem) {
            vm.$data.item = DataItem;
        }

        function BtnPrev(params) {
            //取得當前顯示資料
            var tmp = getCurrentBindingData();
            var i = json.items.indexOf(tmp);
            if (i > 0) {
                showData(json.items[i - 1]);
            }
        }

        function BtnNext(params) {
            var tmp = getCurrentBindingData();
            var i = json.items.indexOf(tmp);
            if (i < (json.items.length - 1)) {
                showData(json.items[i + 1])
            }
        }

        function btn() {
            $("#ButtonPrev").click(BtnPrev);
            $("#ButtonNext").click(BtnNext);
        }
    </script>
    <div id="block1" class="row" style="margin: 10px">
        <div class="col-6" style="background-color:lightgray; margin: 30px">
            <h3>員工資料表:</h3>
            <div class="row">
                <div class="col-6">
                    <br />
                    <h5>資料編號: {{item.ID}}</h5>
                    <label>職稱:</label>
                    <input class="form-control" type="text" v-model="item.title" />
                    <label>姓名:</label>
                    <input class="form-control" type="text" v-model="item.name" />
                    <label>電話:</label>
                    <input class="form-control" type="text" v-model="item.Phone" />
                </div>
                <div class="col-6">
                    <img class="img-responsive pull-right" style="width: 320px; margin-top: 30px"
                        v-bind:src="item.PictureURL" />
                </div>
            </div>
            <label>地址:</label>
            <input class="form-control" type="text" v-model="item.Address" />
            <label>信息:</label>
            <textarea class="form-control" v-model="item.Memo"></textarea>
            <br />
            <button class="btn btn-success" id="ButtonPrev">上一筆</button>
            <button class="btn btn-success  pull-right" id="ButtonNext">下一筆</button>
            <br /> <br />
        </div>
    </div>
</body>
</html>